.current_link {
    color:lightgreen;
}

body {
    background-color: white;
}

nav {
    background: black;
    max-width: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 7px 7px 5px grey;
    display: flex;
}

.nav-item:hover {
    background: white;
}

nav a:hover {
    color: black;
}

nav a {
    /* link text */
    color: lightblue;
    font-size: 20px;
    /* separating links*/
    padding-right: 10px;
    padding-left:  10px;
}