.current_link {
    color:lightgreen;
}

body {
    background-color: white;
    // This will extend all content to edge of the page.
    // margin: 0;
}

nav {
    background: black;
    max-width: 100%;
    width: 100%;
    height: 40px;
    // padding-top: 10px;
    // padding-bottom: 10px;
    box-shadow: 7px 7px 5px grey;
    display: flex;
}

.nav-item:hover {
    background: white;
}

.nav-item:hover a {
    color: black;
}

nav a {
    /* link text */
    color: lightblue;
    font-size: 20px;
    /* separating links*/
    padding-right: 10px;
    padding-left:  10px;

    /* Centre text vertically */
    line-height: 40px;
}

#homepage_body {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
    height: 70vh;
}

.homepage_block {
    border: 3px blue solid;
    padding: 20px;
    margin: 20px;
    height: 30%;
    width: 30%;
}